@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  
    margin: 0;
    padding: 0;
    
}
body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
}

.d-none {
    display: none;
}
